.createContent {
  padding: 14px;
  .formOuter {
    border-bottom: 1px solid #e8e8e8;
    padding-top: 10px;
  }
  .editorOuter {
    margin-top: 20px;
  }
  .footer {
    text-align: right;
    margin-top: 16px;
  }
}
