@import "src/config/var";
.businessLayoutHeader {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  overflow: hidden;
  height: $headerHeight;
  display: flex;
  // flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  .collapsed {
    cursor: pointer;
    font-size: 20px;
    color: rgba(0,0,0,.65);
    &:hover {
      color: #333;
    }
  }
  .userAvatarOuter {
    display: flex;
    height: 100%;
    align-items: center;
    .userName {
      padding-left: 8px;
    }
    // :global {
    //   .ant-avatar-image {
    //     width: 26px;
    //     height: 26px;
    //     img {
    //       display: block;
    //       width: 100%;
    //     }
    //   }
    // }
  }
}