.userLayout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .content {
    flex: 1;
    padding: 80px 0 26px;
    .header {
      text-align: center;
    }
    .desc {
      color: #666;
      margin: 20px 0;
      text-align: center;
    }
    .loading {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      z-index: 1;
    }
  }
  footer {
    text-align: center;
    padding: 16px 0;
    background: #f0f2f5;
    color: #696969;
  }
}