@import "src/config/var";
.leftSidebar {
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  transition: all 0.2s;
  min-height: 100vh;
  background: $menuDarkColor;
  color: #fff;
  .leftSidebarLogoContainer {
    height: $headerHeight;
    overflow: hidden;
    display: flex;
    background: #001519;
    align-items: center;
    justify-content: center;
    .logo {
      width: 30px;
      height: 30px;
      img {
        display: block;
        width: 100%;
      }
    }
    .systemName {
      margin-left: 10px;
      color: #c0c0c0;
    }
  }
  .leftSidebarMenuContainer {
    overflow: hidden;
  }
}
.leftSidebarOpenWidth {
  width: $sideBarWidth;
}
.leftSidebarCloseWidth {
  width: 80px;
}